@model CreateCommentDto
@{
    ViewData["Title"] = "CreateComment";
    Layout = "~/Areas/Admin/Views/Admin/AdminLayout.cshtml";
}


<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="bi bi-plus-circle me-2"></i>Yeni Yorum Ekle</h4>
            <a href="/Admin/Comment/Index" class="btn btn-light btn-sm fw-semibold">
                <i class="bi bi-arrow-left"></i> Geri Dön
            </a>
        </div>

        <div class="card-body">
            <form method="post">

                <label>Blog</label>
                <select type="text" asp-for="BlogId" class="form-control" asp-items="@ViewBag.blogs"></select>
                <span class="text-danger" asp-validation-for="BlogId"></span>
                <br />

                <label>Yorum</label>
                <textarea type="text" asp-for="Content" class="form-control" rows="5"></textarea>
                <span class="text-danger" asp-validation-for="Content"></span>
                <br />
                <button class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>


