@model AppRole
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Areas/Admin/Views/Admin/AdminLayout.cshtml";
}

<h1>Yeni Rol Oluştuur</h1>

<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control" required/>
    <br />
    <span class="text-danger">@Html.ValidationSummary()</span>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

